@import '../../theme/theme_variables.scss';

.dropdown-anchor {
  height: 100%;
  width: 150px;
  line-height: $heading-height;
  background-color: #fff; 
}
.dropdown-anchor__content {
  padding: 0 15px 0 15px;

  background-color: #fff;  
  color: #003;
}
.dropdown-anchor__content:hover {
  background-color: #eee;
}