@import '../../theme/theme_variables.scss';

.header {
  align-self: center;
  width: 100%;
  height: $heading-height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  flex-grow: 0;

  font-family: 'Oxygen';
  font-size: 30px;
  color: #003;
}

.spacer {
  flex-grow: 1;
}
