.nav-bar {
  flex-grow: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.nav-bar__option {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;  
  
  font-size: 15px;
}
.nav-bar__option:hover {
  background-color: #eee;    
}
.nav-bar__option__content {
  padding: 0 15px;
  margin: 0 15px;

  text-align: center;

  color: #003;
}