.header {
  align-self: center;
  width: 80%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  flex-grow: 0;

  font-family: 'Oxygen';
  font-size: 40px;
  color: #003;
}

.spacer {
  flex-grow: 1;
}